* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  gap: 18rem;
}

button {
  appearance: none;
  border: none;
  background: none;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  align-items: center;

  .timer {
    color: #323238;
    text-align: center;
    font-size: 12.6rem;
    font-weight: 500;
  }

  .timer-controls {
    display: flex;
    gap: 4rem;
  }
}

.running .ph-play-circle,
/* pseudo class (html:not = o html não possui... */
html:not(.running) .ph-pause-circle {
  display: none;
}

.music-controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}
